<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dualdatasources.db.mapper.BusinessIdMapper">


    <select id="selectById" parameterType="Integer" resultType="dualdatasources.db.entity.BusinessIdDO">
        SELECT
            id, full_name as fullName,id_num as idNum
        FROM businessid
        WHERE id = #{id}
    </select>

</mapper>
